body{
	background-image: url(../images/gaming-pattern.png)
}

h1 {
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-weight: bold;
}

table {
	width: 100%;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
}

button, label, input, h2, p{
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
}

p {
	font-size: 14px;
	text-align: left;
	line-height: normal;
	margin: 1px;

}

h2 {
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	color: black;
	border-bottom: solid black 2px;
}

#timer{
	visibility: hidden;
}

#timer, #timerNest, #info {
	height: 30px;
	background: black;
}

#timer, #info {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	color: green;	
}

.col-md-9 {
	background: white;
}

.col-md-3 {
	background: lightgrey;
	padding-bottom: 20px;
}

#chat {
	background: white;
	margin-top: 5px;
	text-align: center;
}

.chatBtn {
	width: 45%;
	margin-bottom: 5px;
}

#buttons{
	height:120px;
	width:600px;
	margin: auto;
	text-align: center;
}

#gameDisplay{
	margin: auto;
	width: 500px;
	height:500px;
	position: relative;
}

.displayImg {
	position: absolute;
	height:500px;
	width:500px;
	left: 0px;
	top: 0px;
}

.button {
	border-radius: 50%
}
.buttonImg {
	cursor: pointer;
	width: 100px;
	height:100px;
	float: left;
	margin: 10px;
	border-radius: 50%
}

.playerPick {
	box-shadow: 0px 0px 10px 10px green;
}

.opponentPick {
	box-shadow: 0px 0px 10px 10px red;
}