#gameDisplay{
	width: 500px;
	height:500px;
	position: relative;
}

.displayImg {
	position: absolute;
	height:500px;
	width:500px;
	left: 0px;
	top: 0px;
}

.button {
	border-radius: 50%
}
.buttonImg {
	cursor: pointer;
	width: 100px;
	height:100px;
	float: left;
	margin: 10px;
	border-radius: 50%
}

.playerPick {
	box-shadow: 0px 0px 10px 10px green;
}

.opponentPick {
	box-shadow: 0px 0px 10px 10px red;
}